* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    height: 5rem;
    background-color: #14213d;
    line-height: 5rem;
    color: white;
}
.choices {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 4.5rem;
}
.choice {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover {
    background-color: #14213d;
    cursor:pointers;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
    margin-top: 5rem;
}

#user_score,
#com_score {
    font-size: 3rem;
}

.msgContainer {
    margin-top: 5rem;
}

#result {
    background-color: #14213d;
    display: inline;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.7rem;
    color: white;
}
